/* used for App css specifically */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.counter-row {
    border: 2px solid maroon;
}

input {
  box-sizing: border-box;
}
    
.todo-item.completed {
    text-decoration: line-through;
    color: gray;
}

.app-header {
    display: flex;
    justify-content:center;
    align-items:center;
    font-size:100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    border: 2px solid aqua;
}

.app-container {
    max-width: 1000px;
    border:2px solid red;
}

.input-row {
    display:flex;
    justify-content: space-between;
    border:2px solid blue;
}

.todo-input {
    flex: 2;
    border: 2px solid purple;
}

button {
    cursor: pointer;
    background: yellow ;
}

.add-btn {
    border-color: purple;
    flex: 1;
}

.filter-selector {
    flex: 1;
}

.todo-list {
    border: 2px solid orange;
}

.todo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid pink;
}

.todo-item {
    border:2px solid green;
}

.checkbox {
    transform: scale(2);
}

.del-btn {
    border: 2px solid lightgreen;
}
