/* used for App css specifically */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
 
input {
  box-sizing: border-box;
}

button {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: black;
    background: orange;
}

button.add-btn:hover {
    opacity: .7;
    background: green;
}

button.del-btn:hover {
    opacity: .7;
    background: red;
}

body {
  background: #f2fdff;
}

/* Header */

.app-header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Container */

.app-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20 px;
    background: #f2fdff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.app-container > * {
    margin-bottom: 16px;
}

/* Input Row */

.input-row {
    display:flex;
    gap: 10px;
    
}

.todo-input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px gray;
}

.add-btn {
    flex: none;
    box-shadow: 0 4px 12px gray;
}

.filter-selector {
    flex: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: gray;
    box-shadow: 0 4px 12px gray;
}

/* Counter Row */

.counter-row {
    font-size: 15px;
    color: gray;
    background: white;
    padding:10px;
    box-shadow: 0 4px 12px gray;
}

/* Todo-List */

.todo-list {
    box-shadow: 0 4px 12px gray;
    background: white;
}

.todo-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.checkbox {
    width: 22px;
    height: 22px;
    box-shadow: 0 4px 12px gray;
}

.todo-item {
    flex: 1;
    text-align: left;
    
}

.todo-item.completed {
    text-decoration: line-through;
    color: gray;
}

.del-btn {
    box-shadow: 0 4px 12px gray;
}
